BOT_TOKEN=your_bot_token_here
ADMIN_CHAT_ID=0
LOGS_CHAT_ID=0
CANCELLATION_IMAGE_FILE_ID=
ADMINS=[0]
REGULATIONS_URL=
REDIS_URL=redis://redis:6379/0
REMINDER_NOTIFY_USERNAME=nemopss
DB_PATH=database/bot.db
JWT_SECRET=super-secret-key
JWT_ALGORITHM=HS256
JWT_ACCESS_EXPIRES_SECONDS=900
JWT_REFRESH_EXPIRES_SECONDS=1209600
CORS_ORIGINS='["http://localhost:5173","http://127.0.0.1:5173"]'
MINI_APP_URL=https://your-domain.com/mini-app
